.button-sair {
  background-color: #ff8c1a;
  color: #FFFFFF;
  margin-right: 1rem;
}

.graph--container {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.titulo {
  border-bottom: 2px solid black;
  align-content: center;
  align-items: center;
}
